body{
    background-image: url(https://images4.alphacoders.com/114/thumb-1920-1148233.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
table, td, tr, th{
    border: 2px solid azure;
    color:whitesmoke
}
table{
    border-collapse: collapse;
    font-size: 20px;
}
td{
    font-size: 30px;
}
div{
    text-align: center;
    font-size: 15px;
}
a link{
    color: rgb(255, 255, 255);
}
a :hover{
    color: rgb(254, 255, 254);
    text-decoration: underline;
}
a :visited{
    color: rgb(254, 254, 255);
}
a:active{
    color: white;
}