body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/815/86/337/the-crew-2-kawasaki-ninja-h2r-video-games-monochrome-superbike-hd-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}   
